name: Habit Tracker CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y g++ make cmake git
        git clone --recursive https://github.com/ArthurSonzogni/FTXUI.git
        cd FTXUI
        cmake -B build -S .
        cmake --build build
        sudo cmake --install build
        cd ..

    - name: Build Habit Tracker
      run: make
